a{
  text-decoration: none;
  color:black;
}
h1{
  text-align: center;
font-family: Helvetica, sans-serif;
font-size:350%;
}
div{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-right: 2px black dotted;
    border-left: 2px black dotted;
}
.saw{
  font-size:230%;
  font-style: oblique;
}
.active{
  font-family: georgia,sans-serif, Arial, Helvetica, sans-serif;
  font-size:150%;
}
#article{
  font-family: georgia,sans-serif, Arial, Helvetica, sans-serif;
  font-size:150%;
}
#grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:400px 1fr;
  height:2100px;
}

iframe{
  width:670px;
  height:480px;
}

#summer{
  width:670px;
  height:970px;
}
#kotasive{
  width:670px;
  height:330px;
}
#farmstroke{
  width:670px;
  height:230px;
}

#grid div{
  padding:20px;
}
ol{
  padding-left:30px;
  padding-top:20px;
  font-style: oblique;
  font-weight: 900;
  font-size: 110%;
  line-height: 200%;
}
span{
  padding-top:20px;
  font-style: oblique;
  font-weight: 900;
  font-size: 110%;
  line-height: 200%;
}

@media screen and (min-width:1200px){
  #grid{
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows:none;
    height:2500px;
  }
}
