a{
  text-decoration: none;
  color:black;
}
h1{
  text-align: center;
font-family: Helvetica, sans-serif;
font-size:350%;
}
div{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-right: 2px black dotted;
    border-left: 2px black dotted;
}

.saw{
  font-family: georgia,sans-serif, Arial, Helvetica, sans-serif;
  font-size:200%;
}

#grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height:660px;

}
#grid div{
  padding:20px;
}
#grid ol{
  padding-left:30px;
  padding-top:20px;
  font-style: oblique;
  font-size: 120%;
  font-weight: 900;
  line-height: 200%;
}
@media(max-width:768px){
#grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  height:660px;
}
}
